@{
    
    ViewData["Title"] = "Careers";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WeRecruit</title>
    <link rel="stylesheet" href="~/css/submissions.css"/>
    <link rel="stylesheet" href="~/css/global.css"/>
</head>
<body style="height: 100vh; ">
<aside class="w-25 bg-primary">
    <div class="aside-header">
        <img class="logo" src="~/img/logo.png" alt="WeRecruit Logo">
        <h1>WeRecruit</h1>
    </div>

    <div class="aside-main">
        <h3 class="aside-slogan">We are Hiring!</h3>
        <ul class="grid-list">
            <li>Software Engineer</li>
            <li>Full-stack Developer</li>
            <li>Android Developer</li>
            <li>Designer</li>
        </ul>
        <img src="img/deal.svg" alt="Interview">
    </div>
    <div class="aside-footer">
        Made with &hearts; for WeCount
    </div>
</aside>
<main role="main">
    <div class="container">
        <h2 class="form-title">Resume Submission</h2>
        <p class="form-description">Please fill out all the fields, we'll get back to you for opportinities that match you profile.</p>
        <form method="post" enctype="multipart/form-data">
            <div class="form-container">
                <div class="form-group">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-input" id="firstName" name="FirstName" placeholder="Amine">
                </div>
                <div class="form-group">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-input" id="lastName" name="LastName" placeholder="Lias">
                </div>
                <div class="form-group">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-input" id="email" name="Email" placeholder="contact.aminels@gmail.com">
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="tel" class="form-input" id="phoneNumber" name="Phone" placeholder="0634287872">
                </div>
                <div class="form-group">
                    <label for="studies" class="form-label">Studies</label>
                    <select class="form-input" id="studies" name="LevelOfStudies">
                        <option value="2">Bac+2</option>
                        <option value="3">Bac+3</option>
                        <option value="4">Bac+4</option>
                        <option value="5" selected>Bac+5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="yoe" class="form-label">Years of Experience</label>
                    <input type="number" min="0" max="10" class="form-input" id="yoe" name="YearsOfExperience" placeholder="1">
                </div>
                <div class="form-group">
                    <label for="lastEmployer" class="form-label">Last Employer</label>
                    <input type="text" class="form-input" id="lastEmployer" name="LastEmployer" placeholder="SG ATS">
                </div>
                <div class="form-group">
                    <label for="resume" class="form-label">Resume</label>
                    <div class="form-file">
                        <input type="file" accept="application/pdf,image/png,image/jpeg" class="file-input" id="resume" name="Resume">
                    </div>
                </div>
                <button class="submit-button">
                    Submit
                </button>
            </div>
        </form>
    </div>
</main>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/submissions.js" asp-append-version="true"></script>
</body>
</html>