<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login - WeRecruit</title>
    <link rel="stylesheet" href="~/css/global.css"/>
    <link rel="stylesheet" href="~/css/login.css"/>
</head>
<body>
<main role="main">
    <div class="container">
        <h2 class="form-title">Welcome</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="form-container">
                <div class="form-group">
                    <label for="identifier" class="form-label">Identifier</label>
                    <input type="text" class="form-input" id="identifier" name="Identifier" placeholder="Identifier">
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-input" id="password" name="Password" placeholder="Password">
                </div>
                <button class="submit-button">
                    Log In
                </button>
            </div>
        </form>
    </div>
</main>
</body>
</html>