@font-face {
    font-family: 'Montserrat';
    src: url('/font/Montserrat.ttf') format('truetype');
}

@font-face {
    font-family: 'Work Sans';
    src: url('/font/WorkSans.ttf') format('truetype');
}

* {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, button {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 22px;
    font-weight: 500;
}

button{
    font-weight: 500;
}