@font-face {
    font-family: 'Montserrat';
    src: url('/font/Montserrat.ttf') format('truetype');
}

@font-face {
    font-family: 'Work Sans';
    src: url('/font/WorkSans.ttf') format('truetype');
}

* {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

h1, h2, h3, button {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 22px;
    font-weight: 600;
}

button {
    font-weight: 500;
}

.alert {
    padding: 12px 16px;
    max-width: 100%;
    border: 1px solid;
    border-radius: 10px;
}

.alert-success {
    color: #075985;
    background-color: #dbeafe;
    border-color: #93c5fd;
}

.alert-error {
    color: #b91c1c;
    background-color: #fee2e2;
    border-color: #fca5a5;
}

strong{
    font-weight: 600;
}